<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225753996974-t0ukr576odcs8lik2ogvikjts7c7ctu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225753996974-t0ukr576odcs8lik2ogvikjts7c7ctu7</string>
	<key>API_KEY</key>
	<string>AIzaSyCanNgsZodDVzyfmGP3VBRvcbu9--qcGuo</string>
	<key>GCM_SENDER_ID</key>
	<string>225753996974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pioneelplatK.InstagramSwiftUITutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftuitutorial-1fc6b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftuitutorial-1fc6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225753996974:ios:8873fd8baf581f04d3973f</string>
</dict>
</plist>